.navbar {
  margin-bottom: 1em;
}

section .vendor-table {
  margin-top: 1em;
}

section .product-table {
  margin-top: 1em;
}

.description-label {
  margin-top: 1em;
}

.product-form-button {
  margin-bottom: 1em;
}