@import 'bulma-carousel';

.navbar {
  padding: 0.4em;
  .buttons {
    margin-right: 1em;
  }
}

.top-menu {
  padding: 0.4em;
}

section.subscribe {
  h3 {
    margin-bottom: 1em;
  }
}

section.product_list {
  h2 {
    margin-bottom: 1em;
  }
}

section.user-sign-up {
  margin-bottom: 1.2em;
  .actions {
    margin-bottom: 0.6em;
  }
}

section.user-sign-in {
  margin-bottom: 1.2em;
  .actions {
    margin-bottom: 0.6em;
  }
}